---
---

$font-family-main: 'Source Sans Pro', Helvetica, Arial, sans-serif;

body {
  background-color: #192632;
  color: #e3e3e3;
  font-family: $font-family-main;
  font-size: 16px;
}

a {
  color: rgb(55, 159, 218)
}

a:visited {
  color: rgba(90, 95, 212, 1);
}

.cover-letter {
  background-color: #26323e;
  border-radius: 16px;
  padding: 32px 48px;
  box-sizing: border-box;
  max-width: 840px;
  margin: auto;
}

.cover-letter-addendum {
  padding: 32px 48px;
  box-sizing: border-box;
  max-width: 840px;
  margin: auto;
}

h1 {
  background: rgb(90, 95, 212);
  background: linear-gradient(90deg, rgba(90, 95, 212, 1) 0%, rgba(66, 66, 213, 1) 49%, rgba(55, 159, 218, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-container {
  text-align: left;
}

h1.basecamp {
  display: inline-block;
  font-size: 4em;
  margin: auto;
  margin-top: 0;
}

.about-me {
  display: flex;
  align-items: center;
}

.about-me-blurb {
}

.picture {
  flex: 0 1 auto;
  margin-right: 24px;

  img {
    border-radius: 100%;
    width: 125px;
    border: 1px solid white;
  }
}

.avatar {
  border-radius: 100%;
  float: left;
  width: 125px;
}

.divider-header {
  box-sizing: border-box;
  text-align: center;
  position: relative;
  margin-bottom: 42px;

  &::after {
    content: '';
    background: rgb(90, 95, 212);
    background: linear-gradient(90deg, rgba(90, 95, 212, 1) 0%, rgba(66, 66, 213, 1) 49%, rgba(55, 159, 218, 1) 100%);
    height: 1px;
    position: absolute;
    width: 85%;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.check-list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    padding-left: 2rem;
    text-indent: -1.4rem;
  }

  li + li {
    margin-top: 24px;
  }

  li::before {
    content: "✅ ";
  }
}

.sparkle-list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    padding-left: 2rem;
    text-indent: -1.4rem;
  }

  li + li {
    margin-top: 24px;
  }

  li::before {
    content: "✨ ";
  }
}

.testimonial {
  font-style: italic;
}

.signature {
  img {
    height: 80px;
    filter: invert(1);
  }
}

.continue-reading {
  text-align: center;
  font-style: italic;
}

.links {
  margin-top: 48px;
  text-align: center;
}
